@charset "utf-8";

.btn {
	outline: none !important;
}

li {
	list-style:none;
	text-decoration:none;
	font-size:14px;
}

#footer_wrap {
	margin-top: 50px;
	min-width: 1170px;
}

#header {
	width: 1150px;
}

#header h1 > a {
	text-decoration: none;
	float:left;
	color: #000;
	position:absolute;
	font-size:14px;
	font-weight:700;
	margin-left: -15px;
	margin-top:10px;
	padding:0;
}

.header2 {
	clear: both;
}

.navbar-main ul {
	padding:0;
}

.navbar-sub {
	margin-bottom: 5px;
	margin: 0;
	padding: 0;
	font-size:14px;
}

.header3 {
	clear: both;
	height: 30px;
	background: #f5f5f8;
	text-align: center;
	border-bottom:1px solid #ccc;
}

.header3 li {
	list-style:none;
	vertical-align: middle;
	display:inline-block;
	padding: 0 20px;
	height: 30px;
}

.header3 li:hover {
	background: #e6e6e6;
}

.header3 a {
	text-decoration: none;
	color: #404040;
}

.header4, .header4-tool {
	clear: both;
	display:none;
}

.breadcrumb-lite {
	margin-bottom: 5px;
}
.breadcrumb-body {
	margin:0;
	width: 860px;
	margin:0 auto;
}

.manlink {
	float: left;
	margin-top: 6px;
}

.manicon {
    width: 28px;
    height: 19px;
    display: inline-block;
    margin-top: 4px;
    float:left;
}

.navicon {
	width: 30px;
	height: 20px;
	float: left;
}

.icon_cart {
	background: url(../img/icon/icon_cart.png) no-repeat;
}

.icon_cart_w {
	background: url(../img/icon/icon_cart_w.png) no-repeat;
}

.icon_chat {
	background: url(../img/icon/icon_chat.png) no-repeat;
}

.icon_down {
	background: url(../img/icon/icon_down.png) no-repeat;
}

.icon_geta {
	background: url(../img/icon/icon_geta.png) no-repeat;
}

.icon_user {
	background: url(../img/icon/icon_user.png) no-repeat;
}

.icon_play {
	background: url(../img/icon/icon_play.png) no-repeat;
}

.icon_point {
	background: url(../img/icon/icon_point.png) no-repeat;
}

.icon_top {
	background: url(../img/icon/icon_top.png) no-repeat;
}

.icon_document {
	background: url(../img/icon/icon_document.png) no-repeat;
}

.icon_star {
	background: url(../img/icon/icon_star.png) no-repeat;
}

.icon_tool {
	background: url(../img/icon/icon_tool.png) no-repeat;
}

.icon_video {
	background: url(../img/icon/icon_video.png) no-repeat;
}

.icon_graph {
	background: url(../img/icon/icon_graph.png) no-repeat;
}

.icon_twitter {
	background: url(../img/icon/icon_twitter.png) no-repeat;
}

.icon_search {
	background: url(../img/icon/icon_search.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	margin: 2px -14px;
}



#leftcolumn {
	padding: 0;
	font-size:14px;
	overflow:visible;
}

.lnav li {
	height: 32px;
	padding: 5px 10px;
}

.lnav li:hover {
	background: #f2f2f2;
}

.lnav .lititle > li:hover {
	background: #666;
}

.lnav-top {
	height: 32px;
	padding: 5px 10px;
}

.lnav-top:hover {
	background: #f2f2f2;
}

.lititle {
	/* width: 185px; */
	height: 32px;
	padding: 5px;
	margin: 5px;
	background: #666;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 15px;
}

.lititle > a {
	color: #fff !important;
}
	
.separator {
	width: 90%;
	height:20px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#leftcolumn ul.sub-menu {
	/* width: 160px; */
	position:absolute;
	margin-left: 180px;
	margin-top: -26px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	z-index: 10000;
}

.navbar-main ul.sub-menu {
	/* width: 160px; */
	position:absolute;
	margin-top: 10px;
	margin-left: -29px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 10000;
}

.navbar-main ul.sub-menu li {
	display: block;
}

.navbar-main ul.sub-menu li a {
	color: #000;
}

.navbar-main ul.sub-menu li a:hover {
	color: #f8f8f8;
}

.sliderw {
	width: 120%;
	padding-top:20px;
	padding-left:20px;
	display: inline-block;
	float:left;
}

.bx-wrapper {
	margin-bottom: 45px;
	min-width: 645px;
        margin:0 auto 30px;
}

.bx-wrapper .bx-next {
	background: url(../img/common/next.png) no-repeat;
	right: 0;
	opacity: 0.8;
}

.bx-wrapper .bx-next:hover {
	background: url(../img/common/next.png) no-repeat;
	right: 0;
	opacity: 1;
}

.bx-wrapper .bx-prev {
	background: url(../img/common/prev.png) no-repeat;
	left: 0;
	opacity: 0.8;
}

.bx-wrapper .bx-prev:hover {
	background: url(../img/common/prev.png) no-repeat;
	left: 0;
	opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
	width:35px;
	height:50px;
	margin-top:-25px;

}

.mfp_bloc li {
	width: 185px !important;
}

.mfp_bloc li > a {
	width: 185px;
}

.mfp_bloc .bx-wrapper img {
	width: auto;
	margin: 0 auto;
}

.sliderw {
	visibility:hidden;
}

#topslider li {
	min-width: 368px;
}

.mfp_bloc .bx-wrapper .bx-controls-direction a {
	width:35px;
	height:50px;
	margin-top:-50px;
}
.mfp_bloc .bx-pager,
.mfp_bloc .sale_price {
	display: none;
}
.mfp_bloc h2 {
	color: #444444 !important;
	border: 0;
}

h2.recommendify {
	color: #444444 !important;
	background: #fff !important;
	border: 0 !important;
	border-bottom: 1px solid #000 !important;
}

.dummy185x70 {
	width: 185px;
	height: 70px;
	background: #666;
	margin-bottom: 20px;
}

.dummy185x185 {
	width: 185px;
	height: 185px;
	background: #666;
	margin-bottom: 10px;
}

#goods-banner {
	
}

#sale-banner {
	margin-top: 20px;
}

.catch-banner {
        background-color:#000;
}

.right-banner {
	margin-top: 20px;
	padding-left: 20px;
	display: inline-block;
	position:absolute;
}

.right-banner-item {
	width: 185px;
	margin-bottom:10px;
}

.split-line {
	background: url(../img/common/split_line.png) no-repeat;
	height: 20px;
	width: 80%;
	zoom: 0.8;
	margin: 0 auto 20px auto;
	clear: both;
}

/* プラグイン上書き */

.block_title {
	color: #444444 !important;
}

.all-item,
.all-item a {
	color: #444444;
	background: #fff;
	text-decoration: none;
}

/* -------- */
.point-info {
	margin-top: 30px;
}

#sagasu ul {
	text-align:center;
}

#sagasu li {
	display: inline-block;
	margin: 10px;
	padding: 8px;
	text-align:center;
	width:170px;
	height:35px;
	background: #666666;
}

#sagasu a {
	
	color: #fff;
}

.tokki-body-del {
	padding: 35px;
	/* box-shadow */
	box-shadow:2px 2px 1px 1px #f8f8f8;
	-moz-box-shadow:2px 2px 1px 1px #f8f8f8;
	-webkit-box-shadow:2px 2px 1px 1px #f8f8f8;

	/* border-radius */
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;

	/* border */
	border:1px solid #b3b3b3;
}

.tokki h2.title {
	border: 0;
}

.tokki-th {
	background: #f2f2f2;
	padding: 7px 35px 5px 35px;
	margin-bottom: 35px;
	font-weight: 700;
}

.tokki-td {
	padding: 7px 35px 5px 35px;
	margin-bottom: 35px;
	overflow: hidden;
}

.td-block {
	overflow: hidden;
}

.tokki .b {
	font-weight: 700;
}

.tokki .inner {
	display:block;
	clear:both;
}

.tokki .left {
	display: inline-block;
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.tokki .right {
	display: inline-block;
	float:right;
	margin-left: 20px;
	margin-bottom: 20px;
}

/* -- 商品一覧 -- */

.LC_Page_Products_List .pagination {
	float: right;
	z-index: 100;
	margin-top: -2px;
}

.LC_Page_Products_List .pagination > a,
.LC_Page_Products_List .pagination > strong {
	padding: 3px 12px;
	
}

#product-list-wrap {
	margin-bottom: 10px;
}

#product-list-wrap .title {
	height: 35px;
}

.product-list-item {
	float: left;
	position:relative;
	width: 189px;
	height:240px;
	padding: 4px;
	margin-top: 10px;
	border-bottom: 1px dashed #ccc;
}

.product-list-item > a {
	margin: 0;
}

.product-list-item .caption {
	font-size: 13px;
	text-decoration: none;
	color: #232F3E;
	font-weight: normal;
}

.product-list-img {
	display: table;
	background-color: #000;
	width: 180px;
	height:140px;
}

.product-list-img > div {
	display: table-cell;
	vertical-align: middle;
}

.product-list-img img {
	max-width: 180px;
	max-height: 140px;
	margin: 0 auto;
	display: block;
}

.product-list-item .point {
	color: #d44950;
	font-size: 13px;
	font-weight: bold;
	margin: 10px;
}

.product-list-item .pointbox > img {
	margin-top: -2px;
}

/* -- 商品詳細ページ -- */

.detail_contents {
	width: 860px;
	margin: 0 auto;
}

.top-image img {
	
}

.order-block {
	width: 100%;
	background: #353637;
	color: #fff;
	padding:10px;
}

.order-block .contents {
	width: 780px;
	margin: 0 auto;
}

.order-block .video-column {
	float:left;
	width:300px;
	margin-right:20px;
}
.indicator-row {
	height: 25px;
}
.order-block .video-area {
	width: 300px;
	height: 173px;
	display: table-cell;
	vertical-align: middle;
	background: #000;
}

.order-block .video-area .video-item, .order-block .video-area .video-view, .order-block .video-area .video-js {
	width: 100%;
	height: 100%;
}

.order-block .centered {
	width: 300px;
	height: 173px;
	display: table;
	
}

.order-block .centered > div {
	display: table-cell;
	vertical-align: middle;
}

.order-block .centered img {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 173px;
}


.order-block .detail-column {
	display: inline-block;
	height: 85px;
	width: 460px;
}

.order-block .detail-column > img {
	margin-top: -5px;
	margin-right: 5px;
}

.order-block #price {
	margin: 15px 0;
	box-shadow: 0px 1px 1px #666;
	padding: 7px;
	background: #252525;
	text-shadow: 0px 1px 1px #ddd;
}
.order-block #buy-button {
	margin-left: -2px;
	margin-bottom; 5px;
}
.order-block #bookmarked {
	position: absolute;
	float: right;
	margin-left: 450px;
	margin-top: -37px;
}
.order-block .nortice {
	text-align: right;
	color: #ccc;
	font-size: 10px;
	margin-top: 15px;
}

.order-block .point-info {
	font-size:12px;
	text-align:center;
}

.detail_contents .centered {
	width: 150px;
	height: 150px;
	display: table;
	background: #f2f2f2;
}

.detail_contents .centered > div {
	display: table-cell;
	vertical-align: middle;
}

.detail_contents .centered img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
}

.detail_contents .top-image {
	float:left;
}

.detail_contents .main_comment,
.detail_contents .sub-image-list
 {
	width: 660px;
	margin-left: 180px;
	font-size:12px;
	line-height: 14px;
}

.detail_contents .sub-image-list {
	margin-left: 195px;
	height: 150px;
}

.detail_contents .sub-image {
	float: left;
	margin-right: 10px;
}

.detail_contents h1 {
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #232F3E;
	margin-top: 30px;
}

#main_column .split-line {
	margin: 40px auto;
}

/* -------- */

.LC_Page_Cart {
	font-size: 13px;
}

.LC_Page_Cart .#main_column {
	width: 945px !important;
}

.LC_Page_Cart .col-md-3 {
	float:left;
}

.LC_Page_Cart .form_area {
	margin: 0 0 100px 0;
	width: 470px;
}
.LC_Page_Cart form {
	float: left;
}

.LC_Page_Cart h2 {
	margin-bottom:10px;
}

.LC_Page_Cart #undercolumn {
	width: 100%;
	float: left;
	margin-top: 0;
	margin-bottom: 30px;
}

.LC_Page_Cart #undercolumn_cart {
	width: 830px;
	margin: 0 auto;
}

.LC_Page_Cart .split-line {
	margin-top: 40px;
}

.LC_Page_Cart #button-area {
	float: left;
	position: absolute;
	margin-left: 480px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 350px;
	padding: 20px;
	padding-bottom: 0px;
}

.order-confirm .command-button {
	width: 100%;
	height: 60px;
	font-size: 20px;
	font-weight:700;
	color: #fff;
	background: #cb0112;
	border: none;
	border-bottom: #8C1C24 3px solid;
	border-radius: 5px;
}
.order-confirm .command-button:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: none;
}

.order-confirm .nortice {
	color: #C1272D;
	font-size: 14px;
	padding:5px 0;
	border-bottom: 1px solid #ccc;
}

.order-confirm .price-area {
	font-size: 16px;
	font-weight: 700;
	margin:15px 0;

}

.order-confirm .price-area > .title {
}
.order-confirm .price-area > .price {
	color:#cb0112;
	float :right;
	margin-right: 10px;
	font-size: 16px;
}

.img-col {
	float: left;
	width: 150px;
	height: 85px;
	background: #000;
	display: table;
	margin-right: 20px;
	margin-bottom: 20px;
}

.img-col > a {
	display: table-cell;
	vertical-align: middle;
}


.img-col img {
	max-width: 150px;
	max-height: 85px;
	margin: 0 auto;
}

.item-description {
	display:inline-block;
	width:300px;
	height: 85px;
	position:relative;
}

.LC_Page_Cart .cart-item-price {
	display: block;
	bottom:24px;
	position: absolute;
}

.LC_Page_Cart .cart-item-title {
	display: block;
	overflow: hidden;
	height: 38px;
}

.LC_Page_Cart .delete-cart {
	bottom:0;
	position: absolute;
}

.cart-item-price > strong {
	font-size: 16px;
	color: #cb0112;
}
/* -------- */

.LC_Page_Shopping_Payment,
.LC_Page_Shopping_Confirm,
.LC_Page_Shopping_Complete {
	font-size: 13px;
}

.LC_Page_Shopping_Payment #main_column,
.LC_Page_Shopping_Confirm  #main_column,
.LC_Page_Shopping_Complete  #main_column{
	
}

.LC_Page_Shopping_Payment .col-md-3,
.LC_Page_Shopping_Confirm .col-md-3{
	float:left;
}

.LC_Page_Shopping_Payment .pay_area,
.LC_Page_Shopping_Confirm .pay_area{
	width: 470px;;
}
.LC_Page_Shopping_Payment form,
.LC_Page_Shopping_Confirm form {
	float: left;
}

.LC_Page_Shopping_Payment h2,
.LC_Page_Shopping_Confirm h2,
.LC_Page_Shopping_Complete h2 {
	margin-bottom:10px;
}

.LC_Page_Shopping_Payment .page-header,
.LC_Page_Shopping_Confirm .page-header {
	border: 0;
}

.LC_Page_Shopping_Payment #undercolumn,
.LC_Page_Shopping_Confirm #undercolumn,
.LC_Page_Shopping_Complete #undercolumn {
	width: 100%;
	float: left;
	margin-top: 0;
	margin-bottom: 30px;
}

.LC_Page_Shopping_Payment #undercolumn_shopping,
.LC_Page_Shopping_Confirm #undercolumn_shopping,
.LC_Page_Shopping_Complete #undercolumn_shopping {
	width: 830px;
	margin: 0 auto;
}

.LC_Page_Shopping_Complete #undercolumn_shopping {
	margin-bottom: 300px;
}

.LC_Page_Shopping_Payment .split-line,
.LC_Page_Shopping_Confirm .split-line {
	margin-top: 40px;
}

.LC_Page_Shopping_Payment #button-area,
.LC_Page_Shopping_Confirm #button-area {
	float: left;
	position: absolute;
	margin-left: 480px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 350px;
	padding: 20px;
	padding-bottom: 0px;
}

.LC_Page_Shopping_Payment #button-area {
	margin-top: 50px;
}

.LC_Page_Shopping_Payment #payment ul,
.LC_Page_Shopping_Confirm #payment ul {
	margin: 0;
	padding: 20px;
}

.LC_Page_Shopping_Payment #payment,
.LC_Page_Shopping_Payment .point_announce,
.LC_Page_Shopping_Payment .shipping_method,
.LC_Page_Shopping_Confirm #payment,
.LC_Page_Shopping_Confirm .point_announce {
	border: 1px solid #212E3D;
	border-radius: 5px;
	padding:0;
	margin:20px 0 0 0;
	background: #eee;
}

.LC_Page_Shopping_Payment .point_announce,
.LC_Page_Shopping_Confirm .point_announce {
	padding: 20px;
}

.LC_Page_Shopping_Payment .point_announce p,
.LC_Page_Shopping_Confirm .point_announce p {
	margin:0;
	padding: 0;
}

.LC_Page_Shopping_Payment .point_announce label,
.LC_Page_Shopping_Confirm .point_announce label {
	margin: 10px;
	padding:0;
}

.LC_Page_Shopping_Payment .point_announce .price,
.LC_Page_Shopping_Confirm .point_announce .price {
	color: color: #cb0112;
}

.LC_Page_Shopping_Payment #payment label,
.LC_Page_Shopping_Confirm #payment label,
.LC_Page_Shopping_Confirm .shipping_method label {
	margin: 10px;
	padding:0;
}

.shipping_method ul,
.LC_Page_Shopping_Payment #payment ul.radio {
	margin:0;
	padding:0;
}

.payment-li {
	margin: 0px;
	font-weight: 700;
}
	

.LC_Page_Shopping_Payment input[type="radio"], input[type="checkbox"] {
	margin:0;
	padding:0;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.LC_Page_Shopping_Payment .shipping_method input[type="radio"], input[type="checkbox"] {
	vertical-align: 1em;
}
    

.back-button {
	width: 110px;
}

/* -------- */

#button-area {
	float: left;
	position: absolute;
	margin-left: 595px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 350px;
	padding: 20px;
	padding-bottom: 0px;
}

.LC_Page_Shopping_Payment form,
.LC_Page_Shopping_Confirm form{
	float: left;
	width: 470px;
}

.LC_Page_Shopping_Payment .pay_area {
}

.order-confirm .nortice .price-area {
	font-size: 16px;
	font-weight: 700;
	margin:15px 0;
}

.order-confirm .nortice .tr {
	clear: both;
}

.order-confirm .nortice .tr > .title {
	color: #000;
}
.order-confirm .nortice .tr > .price {
	color:#000;
	float :right;
	margin-right: 10px;
}

/* -- モデル一覧 -- */
.model-index {
	text-align: center;
	margin:30px;
}

.model-index .title {
	
}

.model-index .title > span,
.model-index .title > a
 {
	width: 50px;
	display: inline-block;
}

.model-index .title .exists {
	text-decoration: underline;
	cursor: pointer;
}

.index-block .index-title {
	padding: 10px;
	background: #f5f5f5;
	margin-bottom: 20px;
}

.model-list,
.model-list ul {
	padding: 0;
	margin: 0;
}

.model-list li {
	list-style:none;
	display: inline-block;
	width: 153px;
	height: 210px;
}

.model-list img {
	max-width: 153px;
	max-height: 153px;
}

.model-list .model-name {
	background: #333333;
	display: block;
	color: white;
	text-decoration: underline;
	padding: 5px;
	margin-top: -5px;
}

/* -- 年齢確認用モーダル -- */
#caution-modal{
	text-align:center;
	width:500px;
	height:300px;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2000;
	position:fixed;
}


#modal-overlay{
	z-index:1999;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

/* ビデオ一覧のデザイン */
.pagenumber_area{
    display: block;
    margin-left: auto;
    margin-right: 0;
    clear: both;
    float: right;
}

.pagenumber_area strong,
.pagenumber_area a {
    float: left;
    display: block;
    padding: 6px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-left: 10px;
}
.video-list {
    width: 100%;
    clear: both;
}
.video-item {
    width: 189px;
    height: 173px;
    padding: 4.5px;
    float: left;
}
.video-name {
    width: 180px;
    height: 44px;
    overflow-y: hidden;
}
.video-view {
    width: 180px;
    height: 120px;
}

/* -- レスポンシブ -- */
.mobile-menu,
#mobile-footer {
	display: none;
}

@media (max-width: 767px) {
	#headertopcolumn {
		/*height: 126px;*/
	}
	#header_wrap {
		position:fixed;
		top:0;
	}
	
	#main_column {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	#header {
		width: 100%;
		height: 75px;
	}
	
	#group_link {
		display:none;
	}
	
	#header h1 > a {
		margin: 0;
		font-size: 12px;
	}

	.bx-prev, .bx-next {
		display: none;
	}
	


	.container>.navbar-header {
		position:absolute;
		margin:0;
		margin-top:12px;
		background-size:inherit;
		padding:0;
		zoom: 0.8;
	}
	
	.catch-banner {
		padding: 0;
		margin: 103px 0 0;
		width: 100%;
	}
	
	.mobile-menu {
		display: block;
		float: right;
	}
	
	.mobile-menu ul {
		padding: 0;
		margin: 0;
		margin-top:-18px;
		text-align:center;
	}

	.mobile-menu li {
		list-style:none;
		float: left;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
		border-left: 1px solid #ccc;
	}
	
	.mobile-menu  img {
		display: block;
		margin-left:7px;
		margin-top:5px;
	}
	
	.mobile-menu  a{
		font-size: 9px;
	}
	.navbar-table {
		float: none;
	}
	
	.navbar-table, .navbar-right {
		display: none;
	}
	
	.header3, .header2 {
		display: none;
	}
	
	.header4 {
		display: block;
		height: 50px;
		background: #424242;
	}
	
	.header4-tool {
		display: none;
		height: 60px;
		background: #fbfbfb;
	}
	
	.header4-tool ul {
		clear: both;
		position:relative;
		margin: 0;
		padding: 0;
	}
	
	.header4-tool li {
		margin: 0;
		padding: 0;
		list-style:none;
		float: left;
		width: 25%;
		height: 60px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		text-align: center;
	}
	
	.header4-tool .icon_tool {
		background: url(../img/mobile/mypage_icon.png) no-repeat;
		width: 40px;
		height: 40px;
		display: block;
	}
	.header4-tool .icon_point {
		background: url(../img/mobile/point_icon.png) no-repeat;
		width: 40px;
		height: 40px;
		display: block;
	}
	.header4-tool .icon_star {
		background: url(../img/mobile/favorite_icon.png) no-repeat;
		width: 40px;
		height: 40px;
		display: block;
	}
	.header4-tool .icon_play {
		background: url(../img/mobile/playlist_icon.png) no-repeat;
		width: 40px;
		height: 40px;
		display: block;
	}
	
	.header4-tool .manicon {
		display: block;
		float: inherit;
		margin-left:auto;
		margin-right:auto;
	}
	
	.header4-tool .manlink {
		display: block;
		float: inherit;
		margin-left:auto;
		margin-right:auto;
		margin-top: -5px;
	}
	
	#mobile-menu-button {
		background: url(../img/mobile/menu_icon.png) no-repeat;
		width: 50px;
		height: 50px;
		float: left;
		cursor: pointer;
	}
	
	#mobile-search {
		float: left;
		margin:  7px;
		padding: 5px;
		border-radius: 5px;
	}
	
	#mobile-search-button {
		background: url(../img/mobile/search_icon.png) no-repeat;
		width: 50px;
		height: 50px;
		float: right;
		border: 0;
	}
	
	.mfp_bloc h2 {
		background: #424242 !important;
		color: #fff !important;
		padding-left: 10px;
	}
	
	.mfp_bloc li,
	#checked li {
		width: 100% !important;
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}

	.mfp_bloc li > a {
		width: 145px !important;
	}
	
	.info {
		margin-left: 160px;
		margin-top: -145px;
		height: 140px;
	}
	
	.footer_banner,
	#footer {
		display: none;
	}
	
	#footer_wrap {
		width: 100%;
		max-width:100%;
		min-width:100%;
		padding: 0;
		margin: 0;
	}
	
	#footer_wrap li,
	.footer-bottom-list li {
		display: block;
		border: 0;
		background: #424242;
		width: 100%;
		padding: 5px;
		font-size:12px;
		margin: 0;
		margin-bottom: 5px;
		text-align: left;
		color: #fff;
	}
	
	.footer-bottom-list a {
		color: #fff;
	}
	
	#mobile-footer {
		display: block;
	}
	
	#sagasu ul {
		padding: 0;
	}
	#sagasu li {
		margin: 5px;
		width: 45%;
	}
	
	#copyright {
		margin: 0;
		min-width: 100%;
		height: 65px;
		display: table-cell;
		vertical-align:middle;
	}
	
	.breadcrumb-lite,
	.breadcrumb,
	.order-block {
		width: inherit;
		margin: 0;
	}
}


/*20170726 kikuzawa*/
.sp-tag{
	display: none;
}
a:hover{
	text-decoration: underline;
}
a.btn-elm:hover{
	text-decoration: none;
}
a.btn-elm,
a.btn-elm:active,
a.btn-elm:visited{
	color: #fff;
}
.navbar-middle a.btn-elm:visited{
	color: #fff;
}
.btn-style01 {
	position: relative;
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 0 20px;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	font-weight:700;
	color: #fff;
	line-height: 60px;
	background: #CB0112;
	border: none;
	border-bottom: #a0222a 3px solid;
	border-radius: 5px;
}
.btn-style02 {
	position: relative;
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 0 20px;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	font-weight:700;
	color: #fff;
	line-height: 60px;
	background: #2AA046;
	border: none;
	border-bottom: #A3A3A3 3px solid;
	border-radius: 5px;
}
.btn-style03 {
	position: relative;
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight:700;
	color: #fff;
	line-height: 30px;
	background: #f2f2f2;
	border: none;
	border-bottom: #b3b3b3 3px solid;
	border-radius: 5px;
}
.btn-style03{
  color: #444 !important;
}
.btn-min{
	width: auto;
}
.btn-cart:after{
	content: "\f218";
	position: absolute;
	top: -2px;
	left: 24%;
	font-size: 28px;
	font-family: FontAwesome;
}
.btn-point:after{
	content: "\f288";
	position: absolute;
	top: 0;
	left: 15%;
	font-size: 16px;
	font-family: FontAwesome;
}
.btn-favorite:after{
	content: "\f005";
	position: absolute;
	top: 0;
	left: 13%;
	font-size: 16px;
	font-family: FontAwesome;
}
.btn-disable{
	opacity: 0.5;
}
.btn-elm:hover,
.btn-elm:active {
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: none;
}
.product-list-item a{
	font-size: 13px;
	font-weight: bold;
	color: #232F3E;
}
.popular-tag .btn-xs {
    margin: 0 5px 5px 0;
}

/*商品一覧*/
#product-list-wrap .title {
	padding: 10px 0 0 0;
	height: 45px;
	font-weight: bold;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu strong,
.dropdown-menu a{
	margin: 0;
	width: 100%;
    border: none;
}
.dropdown-menu strong{
	padding: 0;
}
.dropdown-menu li a{
	padding: 10px 20px;
}
.list-item-inner{
	position: relative;
}
.list-item-inner .sub-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 140px;
	display: none;
}

/*商品詳細*/
.product-info{
	margin: 0 0 40px 0;
}
.product-info dl{
	margin: 0 0 5px 0;
}
.product-info dt{
	float: left;
	text-align: right;
	width: 30%;
}
.product-info dd{
	float: right;
	text-align: left;
	width: 70%;
}
.product-info dd a{
	display: inline-block;
}
.order-block .point-info{
	margin: 20px 0 0 0;
}
.detail-column .btn-area{
}
.order-block #bookmark-button {
	float: left;
	width: 48%;
}
.order-block #point-button {
	float: right;
	width: 48%;
}
.rank-price{
	margin: 15px 0;
    box-shadow: 0px 1px 1px #666;
    background: #252525;
    text-shadow: 0px 1px 1px #ddd;
}
.rank-price dl{
	padding: 3px 5px;
	border-top: #464646 1px solid;
	border-bottom: #1A1A1A 1px solid;
}
.rank-price dl:first-child{
	border-top: none;
}
.rank-price dt{
	display: inline-block;
	padding: 0 10px 0 0;
	min-width: 80px;
	opacity: 0.6;
}
.rank-price dd{
	display: inline-block;
	opacity: 0.6;
}
.myrank dt,
.myrank dd{
	opacity: 1;
	font-weight: bold;
}
.mfp_bloc h3 > a {
	margin: 10px 0 0 0;
	font-weight: bold;
}
h2.recommendify{
	border: none!important;
}
.bloc_exp{
	margin: -10px 0 10px 0;
}
.order-block #price {
    margin: 0 0 15px 0;
}
.detail_contents .sub-image-list {
	height: auto;
}
.detail_contents .sub-image {
	margin: 0 10px 10px 0;
}

/*年齢確認用モーダル*/
#caution-modal{
	width: 90%;
	max-width: 500px;
	height:350px;
	left: 50%;
	margin: 0 0 0 -250px;
}
#caution-modal .confirm p{
	float: left;
	width: 48%;
}
#caution-modal .confirm p:last-child{
	float: right;
}

/*売り上げランキング*/
#plg_Up_SellRanking_area .rank{
	position: absolute;
	top: -2px;
	left: -2px;
	width: 30px;
	height: 30px;
	color: #D51A26;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	background: #fff;
	border: #D51A26 2px solid;
}

/*購入フロー(/payment.php)*/
.err-message-class{
	margin-bottom: 0;
	font-weight: bold;
}

/*モデル一覧*/
.model-index .title a{
	display: inline-block;
	margin: 5px;
	width: 35px;
	height: 35px;
    background: #f2f2f2;
    border-bottom: #b3b3b3 3px solid;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-weight: 600;
    color: #444;
    font-size: 12px;
    padding: 4px 12px 2px 12px;
    text-decoration: none;
    line-height: 28px;
}
.model-list .model-name {
    text-decoration: none;
}
.model-list li:hover .model-name {
    text-decoration: underline;
}


@media screen and (max-width:767px) {
	.p10,
	div.breadcrumb,
	.pager,
	.icon-info,
	.bloc_exp,
	.popular-tag,
	.point-info {
    	padding: 0 10px!important;
	}
/*	.well,
	.alert.alert-success{
		margin: 0 10px 20px 10px;
	}*/
	.popular .bloc_exp{
		margin: 0 0 10px 0;
	}
	.heading-title{
		padding: 0 10px 10px 10px;
	}
	h2.title{
		padding: 0 10px 5px 10px;
	}

	/*ヘッダー*/
	#header {
	    height: 53px;
	}
	#header.container{
		padding: 0;
	}
	#header h1 > a{
		top: 8px;
		left: 10px;
	}
	.container>.navbar-header {
	    position: absolute;
	    top: 25px;
	    left: 10px;
	    margin: 0;
	}
	#mobile-search-button,
	#mobile-menu-button {
		position: relative;
	    background: none;
	}
	#mobile-menu-button:after {
		content: "\f0c9";
	    position: absolute;
	    top: 0;
	    left: 13px;
	    color: #fff;
	    font-size: 35px;
		font-family: FontAwesome;
	}
	#mobile-search-button:after {
		content: "\f002";
	    position: absolute;
	    top: 0;
	    right: 13px;
	    color: #fff;
	    font-size: 35px;
		font-family: FontAwesome;
	}
	.header4-tool {
		padding: 3px 0 0 0;
		background: #e7e7e7;
		height: 100%;
	}
	.header4-tool li {
	    padding: 0 3px 3px 3px;
	    list-style: none;
	    float: none;
	    width: 100%;
	    height: auto;
		border: none;
	    text-align: left;
	}
	.header4-tool li a{
		display: block;
		padding: 10px 10px 10px 40px;
		font-weight: bold;
	    background: #fff;

	}
	.header4-tool a.icon_tool {
	    width: 100%;
	    height: auto;
	    background: #fff url(../img/mobile/mypage_icon.png) no-repeat 10px 50%;
	    background-size: 30px auto;
	}
	.header4-tool a.icon_point {
	    width: 100%;
	    height: auto;
	    background: #fff url(../img/mobile/point_icon.png) no-repeat 10px 50%;
	    background-size: 30px auto;
	}
	.header4-tool a.icon_star {
	    width: 100%;
	    height: auto;
	    background: #fff url(../img/mobile/favorite_icon.png) no-repeat 10px 50%;
	    background-size: 30px auto;
	}
	.header4-tool a.icon_play {
	    width: 100%;
	    height: auto;
	    background: #fff url(../img/mobile/playlist_icon.png) no-repeat 10px 50%;
	    background-size: 30px auto;
	}
	.mobile-menu li {
	    padding: 10px 5px;
	    width: 60px;
	    height: auto;
	}
	.mobile-menu a{
		color: #000;
		font-size: 12px;
		letter-spacing: -1px;
	}
	.mobile-menu img {
	    display: inline;
		margin: 0;
	}
	.mobile-menu span{
		display: none;
	}

	/*フッター*/
	.footer-bottom-list ul{
		margin: 0;
		padding: 0;
	}

}

@media screen and (max-width:414px) {
	#container {
	    min-height: auto;
	}
	.pc-tag{
		display: none;
	}
	.sp-tag{
		display: block;
	}
	.breadcrumb-lite{
		display: none;
	}
	h2.title {
	    margin: 30px 0 20px 0;
	}
	.btn-cart:after{
		left: 20%;
	}
	.btn-style03 {
		padding: 0;
		font-size: 12px;
	}
	.btn-point:after,
	.btn-favorite:after{
		content: "";
	}

	/*ヘッダー*/
	#header h1 > a,
	.container>.navbar-header{
		left: 20px;
	}

	/*フッター*/
	.footer-bottom-list {
	    margin-top: 10px;
	    margin-bottom: 30px;
	    padding: 0 10px;
	}
	.footer-bottom-list ul{
		margin: 0;
		padding: 0;
		overflow: hidden;
	    border: #999 1px solid;
	    border-radius: 5px;
	}
	#footer_wrap li,
	.footer-bottom-list li {
	    display: block;
	    border: 0;
	    background: #FAFAFA;
	    width: 100%;
	    padding: 5px;
	    font-size: 12px;
	    margin: 0;
	    text-align: left;
	    color: #000;
	    border-bottom: #999 1px solid;
	}
	#footer_wrap li:last-child,
	.footer-bottom-list li:last-child {
		border: none;
	}
	#footer_wrap li a,
	.footer-bottom-list li a{
		color: #000;
	}
	#copyright {
		padding: 10px;
	    height: auto;
	    display: block;
	    font-size: 10px;
	}

	/*年齢確認用モーダル*/
	#caution-modal{
		width: 90%;
		height:370px;
		top: 50%;
		left: 5%;
		margin: -175px 0 0 0;
	}
	#caution-modal .btn-elm{
		padding: 0 10px;
		font-size: 13px;
		letter-spacing: -1px;
		line-height: 1.2;
	}

	/*商品一覧*/
	.pagenumber_area{
		float: none;
		margin: 0;
		padding: 10px;
		background: #F0F0F0;
	}
	.pagenumber_area strong,
	.pagenumber_area a{
		border: none;
	}
	.pagenumber_area .btn{
		border: none;
	}
	.pagenumber_area .btn-default.active{
		background: #C6C6C6;
	}
	.pagenumber_area .btn.active {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.pagenumber_area .btn-default{
		background: none;
	}
	.pagenumber_area .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
	.pagenumber_area .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	    border-radius: 20px;
	}
	.product-list-item {
	    float: none;
	    position: relative;
	    width: 100%;
	    height: auto;
	    margin: 0;
	    padding: 15px 20px 15px 15px;
	    border-bottom: 1px solid #E3E3E3;
	}
	.list-title{
		margin: 0;
		padding: 10px 20px;
		color: #fff;
		font-weight: normal;
		background: #3C3C3C;
		border: none;
	}
	.product-list-item .indicator-row{
		margin: 0 0 25px 0;
	}
	.product-list-img{
		float: left;
		margin: 0 10px 0 0;
		width: 40%;
		height: auto;
	}
	.product-list-img img{
	    max-width: 100%;
	    max-height: 95px;
	}
	.product-list-item .pointbox{
		position: absolute;
		right: 0;
		bottom: 15px;
	}
	#product-list-wrap .title {
		padding: 0;
	    height: auto;
	}

	/*商品詳細*/
	.order-block{
		padding: 0;
		color: #232F3E;
		background: none;
	}
	.order-block .video-column {
	    float: none;
	    width: 100%;
	    margin: 0;
	}
	.order-block .detail-column {
	    display: inline-block;
	    height: auto;
	    width: 100%;
	}
	.order-block .centered {
	    width: 100%;
	    height: auto;
	}
	.detail_contents {
	    width: 100%;
	}
	.detail-title{
		margin: 15px 0 0 0;
		padding: 0 10px;
		font-size: 110%;
	}
	.order-block .sp-price-area{
		margin: 0 0 10px 0;
		padding: 0 10px;
	}
	.sp-price-area .indicator-row{
		float: left;
	}
	.sp-price-area #price{
		float: left;
	}
	.order-block .sp-price-area #price {
	    margin: 0;
	    box-shadow: none;
	    padding: 3px 0 0 5px;
	    color: #d44950;
	    line-height: 1;
	    background: none;
	    text-shadow: none;
	    font-size: 95%;
	    font-weight: bold;
	}
	#buy-button{
		padding: 10px;
		text-align: center;
		background: #EAEAEA;
	}
	#buy-button p{
		margin: 0;
		font-size: 89%;
	}
	#buy-button img{
		width: 100%;
	}
	.btn-area{
		padding: 0 8% 10px 8%;
		border-bottom: #E3E3E3 1px solid;
	}
	#point-button{
		float: right;
		width: 48%;
	}
	#bookmark-button{
		float: left;
		width: 48%;
	}
	.detail_contents h1,
	.detail_contents .centered{
		display: none;
	}
	.detail_contents .sub-image-list{
		margin: 0;
		padding: 10px;
		width: 100%;
	}
	.sub-image-list .sub-image{
		display: table;
		margin: 0 0 10px 0;
		width: 48%;
		height: auto;
	    background: none;
	}
	.sub-image-list .sub-image:nth-child(even){
		float: right;
	}
	.detail_contents .centered img {
	    max-width: 190px;
	    max-height: 100%;
	}
	.order-block .nortice {
	    text-align: left;
	    color: #232F3E;
	    margin: 0;
	    padding: 10px;
	    font-size: 11px;
	}
	.order-block .point-info{
	    margin-top: 0;
	    padding: 0 10px 10px 10px;
	    text-align: left;
		border-bottom: #E3E3E3 1px solid;
	}
	.detail_contents .main_comment{
		margin: 0 0 10px 0;
		padding: 10px;
	    width: 100%;
	    margin-left: 0;
	}
	.product-info dt{
		width: 35%;
		font-size: 88%;
		letter-spacing: -1px;
	}
	.product-info dd{
		width: 65%;
		font-size: 88%;
		letter-spacing: -1px;
	}
	.detail-column .btn-area{
		padding: 10px 10px 0 10px;
	}
	h2.recommendify {
		font-size: 13px;
	}
	.rank-price {
		padding: 15px 10px;
	    box-shadow: none;
	    background: none;
	    text-shadow: none;
	}
	.rank-price dl{
		border-color: #666;
		border-top: none;
	}

	/*カートページ*/
	.LC_Page_Cart #undercolumn{
		float: none;
		padding: 0 10px;
	}
	.LC_Page_Cart .form_area{
		margin: 0;
	}
	.LC_Page_Cart .form_area,
	.LC_Page_Cart #undercolumn_cart {
		width: 100%;
	}
	.LC_Page_Cart #button-area,
	#button-area {
		float: none;
		position: static;
		margin-left: 0;
	    border-radius: 0;
	    border: 1px solid #ccc;
	    width: 100%;
	    padding: 20px;
	    padding-bottom: 0px;
	}
	.LC_Page_Cart form{
		float: none;
	}
	.cart-tr{
		margin: 0 0 20px 0;
	}
	.img-col {
	    width: 40%;
	    height: auto;
	    background: none;
	    display: block;
	    margin: 0;
	}
	.LC_Page_Shopping_Confirm .img-col img,
	.LC_Page_Cart .img-col img {
	    max-width: 100%;
	    max-height: none;
	}
	.item-description {
	    display: block;
	    float: right;
	    width: 55%;
	    height: auto;
	}
	.LC_Page_Cart .cart-item-price {
	    position: static;
	    margin: 0 0 5px 0;
	}
	.LC_Page_Cart .delete-cart {
	    position: static;
	}

	/*購入フロー(/payment.php)*/
	.LC_Page_Shopping_Complete #undercolumn_shopping,
	.LC_Page_Shopping_Confirm #undercolumn_shopping,
	.LC_Page_Shopping_Payment #undercolumn_shopping{
		padding: 0 10px;
		width: 100%;
	}
	.LC_Page_Shopping_Payment .pay_area,
	.LC_Page_Shopping_Confirm .pay_area,
	.LC_Page_Shopping_Payment form,
	.LC_Page_Shopping_Confirm form {
	    float: none;
	    width: 100%;
	}
	.LC_Page_Shopping_Payment #button-area,
	.LC_Page_Shopping_Confirm #button-area {
	    float: none;
	    position: static;
	    margin: 0;
	    border-radius: 5px;
	    border: 1px solid #ccc;
	    width: 100%;
	    padding: 20px;
	    padding-bottom: 0px;
	}
	.LC_Page_Shopping_Payment .page-header {
	    margin: 20px 0;
	}
	.LC_Page_Shopping_Payment .point_announce ul{
		padding: 0;
	}
	.LC_Page_Shopping_Payment .point_announce [type="text"]{
		padding: 5px;
		width: 100%;
		border-radius: 5px;
		border: #909090 1px solid;
		-webkit-appearance: none;
	}
	.order-confirm .nortice {
		margin: 20px 0 0 0;
	}
	#undercolumn_shopping .point_area{
		margin: 0 0 20px 0;
	}

	/*購入フロー(/complete.php)*/
	.LC_Page_Shopping_Complete #undercolumn_shopping {
	    margin-bottom: 0;
	}

	/*売り上げランキング*/
	#plg_Up_SellRanking_area .rank{
		top: 10px;
		left: 10px;
	}
/*	#plg_Up_SellRanking_area .product-list-img{
		float: none;
		margin: 0;
		width: 100%;
		height: auto;
	}
	#plg_Up_SellRanking_area .rank{
		top: 5px;
		left: 10px;
	}*/

	/*モデル一覧*/
	.model-list ul{
		padding: 10px;
	}
	.model-list li {
	    width: 49%;
	}
}

@media screen and (max-width:375px) {
	/*商品詳細*/
/*	.sub-image-list .sub-image{
		width: 170px;
		height: 170px;
	}
	.detail_contents .centered img {
	    max-height: 170px;
	    max-width: 170px;
	}*/
}

@media screen and (max-width:320px) {
	.btn-cart:after{
		left: 15%;
	}

	/*ヘッダー*/
	#header h1 > a,
	.container>.navbar-header{
		left: 10px;
	}

	/*商品詳細*/
	#sagasu li {
		font-size: 12px;
		letter-spacing: -1px;
	}
/*	.sub-image-list .sub-image{
		width: 145px;
		height: 145px;
	}
	.detail_contents .centered img {
	    max-height: 145px;
	    max-width: 145px;
	}*/

}
/*end 20170726 kikuzawa*/






