@charset "utf-8";

/* common */
body {
  font-size: 15px;
  color: #232F3E;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #232F3E;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
dt {
  font-weight: normal;
}
dl {
  margin-bottom: 0px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
.heading-title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #232F3E;
  margin-top: 30px;
}
.main_comment {
  font-size: 15px;
  padding: 15px;
  line-height: 1.6;
}
h2.title {
  padding: 0;
  padding-bottom: 5px;
  border-left: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}

/* Layout Block 1 *//* Layout Block 2 */
.layout-block1, .layout-block2 {
  margin-bottom: 30px;
}
.layout-block1 .left-block, .layout-block2 .left-block {
  padding-left: 20px;
}
.layout-block1 .left-block h3, .layout-block2 .left-block h3 {
  margin-bottom: 20px;
  margin-top: 0;
}
.layout-block1 span.bold, .layout-block2 span.bold {
  font-weight: bold;
}
.layout-block2 p.question {
  font-weight: bold;
}
.layout-block2 p.answer {
  padding-left: 20px;
  margin-bottom: 20px;
}

.layout-block3 {
  padding-right: 20px;
  padding-left: 20px;
}
.layout-block3 a {
  background-color: #232F3E;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 10px;
}
.layout-block3 a:hover {
  color: #fff;
  opacity: 0.7;
}

/* Table */
.table th {
  background-color: #F2F2F2;
}


/* header */
.navbar {
  margin-bottom: 0;
  min-height: 100px;
}
.navbar-default {
  background-color: #232F3E;
  border: 0px;
  box-shadow: 0px 0px 2px #000
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-brand {
  display: block;
  width: 100%;
  height: 100%;
}
.navbar-form {
  width: 52%;
  margin-top: 32px;
}

.container>.navbar-header {
  background: url(../img/title/logo2x.png) no-repeat;
  background-size: 199px;
  overflow: hidden;
  margin-top: 35px;
  text-indent: 100%;
  white-space: nowrap;
  width: 200px;
  height: 27px;
  display: inline-block;
}
.navbar-form .input-group>.form-control {
  width: 505px;
}
.navbar-right {
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ccc;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-form .header-under-menu {
  display: inline-block;
  margin-top: 7px;
  margin-right: 25px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.navbar-toggle {
  margin-top: 31px;
}
#mobile-nav form {
  margin-top: 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  box-shadow: none;
}
@media (max-width: 1199px) {
  .navbar-form .input-group>.form-control {
    width: 369px;
  }
  .navbar-form {
    width: 48%;
  }
  .navbar-form .header-under-menu {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav>li {
    margin-top: 27px;
  }
  .navbar-nav>li>a {
    padding-top: 23px;
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .container>.navbar-header {
    margin-left: 20px;
  }
}
/* sidebar */
#leftcolumn {
  background: #F2F2F2;
  padding: 50px 0 0;
}
#leftcolumn .panel {
  border: none;
  background: none;
}
#leftcolumn .panel-default>.panel-heading {
  border-color: inherit;
  border: none;
}
#leftcolumn #category_area .panel-title {
  color: #FF9900;
  font-weight: bold;
  font-size: 20px;
  border: 0px;
}
#leftcolumn #category_area .panel-body {
  padding: 0;
  padding-left: 0px;
}
#leftcolumn #category_area li > a {
  padding: 1px 15px;
}
#leftcolumn .badge {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 7px;
  background: none;
  color: inherit;
}
#leftcolumn .nav-pills>li>a {
  border-radius: 0;
}

#leftcolumn a {
  font-size: 15px;
}
#leftcolumn .panel a:hover {
  background: rgba(35, 47, 62, 0.75);
  color: #fff;
}
#leftcolumn .level1 a {
  font-size: 20px;
  color: #232F3E;
}
#leftcolumn .level1 > ul {
  margin-bottom: 10px;
}
#leftcolumn #category_area li.level2 > a {
  font-size: 15px;
}
#leftcolumn .list-title {
  background-color: #ff9900;
  width: 53%;
  text-indent: 30px;
  padding: 5px 0;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border: 0px;
  margin-top: 0;
  margin-bottom: 10px;
}
#leftcolumn .list-group-item {
  font-size: 20px;
  color: #232F3E;
  background: none;
  border: none;
  padding: 5px 15px;
}
#leftcolumn .list-group-item:hover {
  background: rgba(35, 47, 62, 0.75);
  color: #fff;
}
#leftcolumn .list-group-item:first-child,
#leftcolumn .list-group-item:last-child {
  border-radius: 0;
}

#leftcolumn .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: rgba(35, 47, 62, 0.75);
  color: #fff;
}








/* Main Column */

/* Slider */
.bx-wrapper .bx-viewport {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  left: 0;
  background: none;

}
.sliderL {
    margin: 20px auto;
    width: 100%;
    max-width: 880px;/*使用画像の幅*/
}
.bx-wrapper {/*reset*/
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    width: 100%;
    height: auto;/*auto又は100%に指定・縦横比を維持する*/
    display: block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ccc;
}







/* トップページメインメニュー */
.main-menu-block .menu-block a {
  background-color: #E6E6E6;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  padding-top: 90px;
  font-size: 18px;
  color: #232F3E;
  padding-bottom: 10px;
}
.main-menu-block .menu-block a:hover {
  background-color: #232F3E;
  color: #fff;
  text-decoration: none;
}

.main-menu-block {
  margin-left: -5px;
  margin-bottom: 30px;
}
.main-menu-block .menu-block {
  padding: 5px;
}
.main-menu-block .menu-block:first-child {
  margin-left: 0;
}

.main-menu-block .row {
  margin-right: 0;
}

.main-menu-block .menu-block01 {
  background: url(../img/menu/menu-block01.png) no-repeat;
  background-position: center center;
  background-size: 30px;
}
.main-menu-block .menu-block01:hover {
  background: url(../img/menu/menu-block01_on.png) no-repeat;
  background-position: center center;
  background-size: 30px;
}
.main-menu-block .menu-block02 {
  background: url(../img/menu/menu-block02.png) no-repeat;
  background-size: 35px;
  background-position: center center;
}
.main-menu-block .menu-block02:hover {
  background: url(../img/menu/menu-block02_on.png) no-repeat;
  background-size: 35px;
  background-position: center center;
}
.main-menu-block .menu-block03 {
  background: url(../img/menu/menu-block03.png) no-repeat;
  background-size: 36px;
  background-position: center center;
}
.main-menu-block .menu-block03:hover {
  background: url(../img/menu/menu-block03_on.png) no-repeat;
  background-size: 36px;
  background-position: center center;
}
.main-menu-block .menu-block04 {
  background: url(../img/menu/menu-block04.png) no-repeat;
  background-size: 29px;
  background-position: center center;
}
.main-menu-block .menu-block04:hover {
  background: url(../img/menu/menu-block04_on.png) no-repeat;
  background-size: 29px;
  background-position: center center;
}
.main-menu-block .menu-block05 {
  background: url(../img/menu/menu-block05.png) no-repeat;
  background-size: 32px;
  background-position: center center;
}
.main-menu-block .menu-block05:hover {
  background: url(../img/menu/menu-block05_on.png) no-repeat;
  background-size: 32px;
  background-position: center center;
}
.main-menu-block .menu-block06 {
  background: url(../img/menu/menu-block06.png) no-repeat;
  background-size: 33px;
  background-position: center center;
}
.main-menu-block .menu-block06:hover {
  background: url(../img/menu/menu-block06_on.png) no-repeat;
  background-size: 33px;
  background-position: center center;
}







/* おすすめ商品 */
.all-item {
  font-size: 13px;
  background-color: #232F3E;
  display: inline-block;
  padding: 6px;
}
.all-item a {
  color: #fff;
  text-decoration: underline;
}
.all-item a:hover {
  text-decoration: none;
}

/* 新着商品 */
#plg_Up_NewProducts_area .content_panel {

}
#plg_Up_NewProducts_area .item_panel {
  margin-right: 0 !important;
  padding: 0px;
  width: 25%;
}
@media (max-width: 767px) {
  #plg_Up_NewProducts_area .item_panel {
    width: 50%;
  }
}
#plg_Up_NewProducts_area .item_image {
  margin: 2.5px;
}

/* 商品 */
#undercolumn {
  margin-top: 50px;
}

#undercolumn .img-thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.content_panel a {
  color: #232F3E;
  font-size: 13px;
  text-decoration: none;
}
.content_panel a:hover {
  text-decoration: underline;
}


.relative-cat {
	padding: 10px 0;

}

.relative-cat a {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  color: #2E3192 !important;
  margin-bottom: 10px;
}


.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	color: #606060;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}





#detail-warp {
  line-height: 1.6;
}

#detailrightbloc-wrap .btn-danger {
  background-color: #F7931E;
  font-size: 20px;
  border: 0;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  width: 54%;
  display: inline-block;
}
#detailrightbloc-wrap .btn-favorite {
  background-color: #F15A24;
  font-size: 20px;
  border: 0;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  width: 45%;
  display: inline-block;
  margin-top: 0;
}
#detailrightbloc-wrap .quantity-dn {
  display: none;
}

#detailrightbloc-wrap .panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#detailrightbloc-wrap .panel-body {
  padding: 0 0 15px;
}
#detailrightbloc-wrap .panel-heading {
  padding: 10px 0;
}
#detailrightbloc-wrap .panel-footer {
  padding: 0;
  background-color: #fff;
  border-top: 0;
  border-radius: 0;
}
#detailrightbloc-wrap .price {
  color: #ED1C24;
}
#detailrightbloc-wrap .normal_price dt,
#detailrightbloc-wrap .normal_price dd,
#detailrightbloc-wrap .sale_price dt,
#detailrightbloc-wrap .sale_price dd {
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  line-height: 23px;
}
#detailrightbloc-wrap .normal_price {
  font-size: 100%;
}
#detailrightbloc-wrap .sale_price {
  color: #232F3E;
}
#detailrightbloc-wrap .sale_big {
  font-size: 21px;
  font-weight: bold;
  color: #ED1C24;
}
#detailrightbloc-wrap .prime-banner {
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.sub-image-block {
  margin-top: 20px;
  margin-bottom: 10px;
}
.sub-image-block .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.sub-image-block-a {
  display: block;
  margin-bottom: 10px;
}

/* 最近見た商品 */
#main_column #arrCheckItems ul {
  list-style: none;
  padding: 0;
}
#main_column #arrCheckItems ul li {
  width: 16.66666%;
}
@media (max-width: 991px) {
  #main_column #arrCheckItems ul li {
    width: 33.33333%;
  }
}
@media (max-width: 767px) {
  #main_column #arrCheckItems ul li {
    width: 50%;
  }
}
#main_column #arrCheckItems h2 {
  padding: 0;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #232F3E;
  background: none;
}
#main_column #arrCheckItems a {
  margin: 2.5px;
  display: block;
  color: #232F3E;
  text-align: left;
  font-weight: normal;
  font-size: 13px;

}
#main_column #arrCheckItems img {
  width: 100%;
  height:auto;
}
#arrCheckItems ul li p.item_image {
  margin-bottom: 0;
}
#arrCheckItems ul li p.price {
  color: #C1272D !important;
  font-size: 16px !important;
  font-weight: bold;
  text-align: right;
}
#arrCheckItems ul li p.price span {
  font-size: 13px !important;
  font-weight: normal;
}

/* レコメンド */
#main_column h2.Recommendify {
  color: inherit;
  font-size: 20px;
  font-family: inherit;
}
#Recommendify {
  font-size: 0;
}
#Recommendify li {
  width: 16.66666%;
  padding: 0;
}
@media (max-width: 991px) {
  #Recommendify li {
    width: 33.33333%;
  }
}
@media (max-width: 767px) {
  #Recommendify li {
    width: 50%;
  }
}

#Recommendify a {
  display: block;
  margin: 2.5px;
  font-size: 13px;
  color: #232F3E;
}
#Recommendify img {
  width: 100%;
  height: auto;
}
#Recommendify h3 {
  font-size: 13px;
  margin-top: 5px;
}
#Recommendify p {
  font-size: 16px;
  font-weight: bold;
  color: #C1272D;
  text-align: right;
}
#Recommendify p span{
  font-size: 13px;
  font-weight: normal;
}

/* 一覧ページ */
#detailphotobloc .picture, #product-list-wrap .picture {
  padding: 0;
}
.thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.product_list {
  margin-right: -15px;
  margin-left: -15px;
  padding: 2.5px;
  font-size: 13px;
  color: #232F3E;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #C1272D;
}
.price .mini {
  font-size: 10px;
}
.thumbnail .caption {
  padding: 0;
}

#product-list-wrap div.caption {
  height: 40px;
}
.caption h3 {
  font-size: 13px;
  color: #232F3E;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  #product-list-wrap div.caption {
    height: 50px;
  }
  .caption h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  #product-list-wrap div.caption {
    height: 50px;
  }
}
.thumbnail {
  margin-bottom: 0;
}
.pricebox {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: right;
}


/* 売上げランキングプラグイン */
.block_outer .ranking-block {
  margin-bottom: 20px;
  margin-top: 50px;
}
.block_outer #plg_Up_SellRanking_area .content_panel {
  padding: 0 20px;
}
.block_outer #plg_Up_SellRanking_area .item_panel {
  display: block;
}
.block_outer #plg_Up_SellRanking_area .item_panel .title {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 991px) {
  .block_outer #plg_Up_SellRanking_area .item_panel .title2 {
    width: 225px;
  }
}
.block_outer #plg_Up_SellRanking_area .item_panel img {
  width: 100px;
}
.block_outer #plg_Up_SellRanking_area .item_panel .item_meta p a {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .block_outer #plg_Up_SellRanking_area .content_panel {
    padding: 0;
  }
  .block_outer #plg_Up_SellRanking_area .item_panel .title2 {
    width: 125px;
  }
  .block_outer #plg_Up_SellRanking_area .item_panel .item_meta p a {
    font-size: 16px;
  }
}
.block_outer #plg_Up_SellRanking_area .item_panel .rank-img {
  width: 50px;
  margin-right: 20px;
}
.block_outer #plg_Up_SellRanking_area .item_panel .item_image {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
.block_outer #plg_Up_SellRanking_area .item_panel .item_meta {
  display: inline-block;
}
.block_outer #plg_Up_SellRanking_area .item_panel .item_meta .btn-danger {
  background-color: #F7931E;
  font-size: 20px;
  border: 0;
  font-weight: bold;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 36px;
}
@media (max-width: 768px) {
  .block_outer #plg_Up_SellRanking_area .item_panel .item_meta .btn-danger {
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
  .block_outer #plg_Up_SellRanking_area .item_panel .item_image {
    margin-right: 10px;
  }
  .block_outer #plg_Up_SellRanking_area .item_panel .rank-img {
    width: 30px;
    margin-right: 10px;
  }
}

/* フッター */
.list-inline>li {
  padding: 10px;
}
.list-inline a {
  color: #232F3E;
  font-size: 15px;
}

/* コピーライト */
#copyright {
  background-color: #232F3E;
  color: #fff;
  padding: 15px 0;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


/* レーベル一覧 */
.label-heading, .model-heading {
  margin-bottom: 20px;
  margin-top: 50px;
}
.label-lists {

}
.label-list, .model-list {
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-bottom: 20px;
}
.label-list a {
  font-size: 18px;
  font-weight: bold;
  color: #232F3E;
  display: block;
}
.model-list a {
  font-size: 15px;
  color: #232F3E;
  display: block;
  text-align: center;
}
.label-list img, .model-list img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.label-list p {
  font-size: 13px;
  color: #232F3E;
}

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: #232F3E;
  font-weight: bold;
  border: 0;
}
.nav-tabs>li>a {
  font-size: 18px;
  margin: 5px;
  padding: 1px 9px;
  border-radius: 0;
  border: 0;
  color: #232F3E;
}

.picture-block-wrap {
  height: 200px;
}

.prime-wrap {
  height: 25px;
}
